@font-face {
    font-family: 'formula1 bold';
    src: url(https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.woff2) format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {  
    font-family: 'formula1 regular';
    src: url(https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.woff2) format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {  
    font-family: 'formula1 wide';
    src: url(https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Wide.woff2) format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'HP Simplified Lt';
    src: url(../fonts/HPSimplified_Lt_0.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HP Simplified LtIt';
    src: url(../fonts/HPSimplified_LtIt_0.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HP Simplified Rg';
    src: url(../fonts/HPSimplified_Rg_0.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
  